@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply bg-purple-600;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full border-2;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-green-500;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-green-600;
}

::-webkit-scrollbar-button {
  @apply h-1 bg-purple-600;
}

body,
form > input {
  @apply bg-gray-100;
}

form > input,
label,
p {
  @apply outline-1 outline-slate-200 p-1 w-[16rem] mx-auto text-left 
  text-base;
}

button {
  @apply transition-all duration-150 ease-in-out block;
}

button[disabled] {
  @apply cursor-not-allowed;
}

.spinner-container {
  @apply h-8 flex justify-center items-center;
}

.loading-spinner {
  @apply border-8 border-purple-500 border-t-8 border-t-green-500 w-10 h-10;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.page-title {
  @apply text-center text-2xl font-medium;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(300deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
